## EDA

In [ ]:
import pandas as pd
import tensorflow as tf
import numpy as np

In [ ]:
train_ds = pd.read_csv('./train.csv')
train_ds.head()

,Unnamed: 0,id,genome_sequence,species
0,0,11408003,ccacatcccctccagcacctgttgtttcctgactttttaatgattg...,Gorilla_gorilla
1,1,18639873,tgtttacttgccaatctttgtttagctgtcagagtggcttgctaaa...,Gorilla_gorilla
2,2,9869298,tctgtgaagaaagacattggtagcttgatggggatgacattgaatc...,Homo_sapiens
3,3,10762804,ttgtgagaattacgtgagatgatagatttagggactatagaatagt...,Gorilla_gorilla
4,4,13724428,gcaaaaaataagttgataagttgattgatatgttattagcttaatt...,Gorilla_gorilla

In [ ]:
train_ds = train_ds[['genome_sequence','species']]
train_ds

                                            genome_sequence          species
0         ccacatcccctccagcacctgttgtttcctgactttttaatgattg...  Gorilla_gorilla
1         tgtttacttgccaatctttgtttagctgtcagagtggcttgctaaa...  Gorilla_gorilla
2         tctgtgaagaaagacattggtagcttgatggggatgacattgaatc...     Homo_sapiens
3         ttgtgagaattacgtgagatgatagatttagggactatagaatagt...  Gorilla_gorilla
4         gcaaaaaataagttgataagttgattgatatgttattagcttaatt...  Gorilla_gorilla
...                                                     ...              ...
19799995  agaggtgaagcacttaaattgtgccaggcacataatatatattaaa...     Homo_sapiens
19799996  tctaaagttctggaatttcaggcatagagccaccacatccagccga...     Homo_sapiens
19799997  tttttgttaaagtgaagaaataactttctttttttgttttttttga...  Gorilla_gorilla
19799998  gagccatgtgttatgaagagcagggcctccattggctgtgtccctg...  Gorilla_gorilla
19799999  tttttatcacaaactttaatgccataaattaatatgtaacacatat...  Gorilla_gorilla

[19800000 rows x 2 columns]

총 19,800,000개의 데이터

In [ ]:
len(train_ds[train_ds['species']=='Gorilla_gorilla'])

9899415

In [ ]:
len(train_ds[train_ds['species']=='Homo_sapiens'])

9900585

Gorilla_gorilla = 9,899,415

Homo_Sapiens = 9,900,585

약 1:1의 비율로 구성.

In [ ]:
train_ds['length'] = train_ds['genome_sequence'].apply(len)
train_ds

,genome_sequence,species,length
0,ccacatcccctccagcacctgttgtttcctgactttttaatgattg...,Gorilla_gorilla,80
1,tgtttacttgccaatctttgtttagctgtcagagtggcttgctaaa...,Gorilla_gorilla,80
2,tctgtgaagaaagacattggtagcttgatggggatgacattgaatc...,Homo_sapiens,80
3,ttgtgagaattacgtgagatgatagatttagggactatagaatagt...,Gorilla_gorilla,80
4,gcaaaaaataagttgataagttgattgatatgttattagcttaatt...,Gorilla_gorilla,80
...,...,...,...
19799995,agaggtgaagcacttaaattgtgccaggcacataatatatattaaa...,Homo_sapiens,80
19799996,tctaaagttctggaatttcaggcatagagccaccacatccagccga...,Homo_sapiens,80
19799997,tttttgttaaagtgaagaaataactttctttttttgttttttttga...,Gorilla_gorilla,80
19799998,gagccatgtgttatgaagagcagggcctccattggctgtgtccctg...,Gorilla_gorilla,80
19799999,tttttatcacaaactttaatgccataaattaatatgtaacacatat...,Gorilla_gorilla,80

In [ ]:
train_ds['length'].unique()

array([80, 39, 37,  2, 30, 25, 16,  3, 15, 57, 48, 32, 31, 43, 60, 50])

✨ 꼭 기억하자 value_counts()

https://www.codeit.kr/community/threads/5941

In [ ]:
train_ds['length'].value_counts()

80    19799984
37           2
39           1
2            1
30           1
25           1
16           1
3            1
15           1
57           1
48           1
32           1
31           1
43           1
60           1
50           1
Name: length, dtype: int64

In [ ]:
train_ds[train_ds['species']=='Gorilla_gorilla']['length'].value_counts()

80    9899411
30          1
3           1
57          1
48          1
Name: length, dtype: int64

In [ ]:
train_ds[train_ds['species']=='Homo_sapiens']['length'].value_counts()

80    9900573
37          2
39          1
2           1
25          1
16          1
15          1
32          1
31          1
43          1
60          1
50          1
Name: length, dtype: int64

In [ ]:
train_ds[train_ds['length']==3]

        genome_sequence          species  length
5862575             tat  Gorilla_gorilla       3

model의 정확도를 위해 이런 outlier들은 제거하고 training을 할 계획

In [ ]:
train_final = train_ds[train_ds.length == 80]
len(train_final)

19799984

In [ ]:
train_final = train_final.reset_index(drop = True)

이제 train_fianl로 학습 돌리면 됨.

In [ ]:
train_final = train_final[['genome_sequence','species']]

In [ ]:
train_final

                                            genome_sequence          species
0         ccacatcccctccagcacctgttgtttcctgactttttaatgattg...  Gorilla_gorilla
1         tgtttacttgccaatctttgtttagctgtcagagtggcttgctaaa...  Gorilla_gorilla
2         tctgtgaagaaagacattggtagcttgatggggatgacattgaatc...     Homo_sapiens
3         ttgtgagaattacgtgagatgatagatttagggactatagaatagt...  Gorilla_gorilla
4         gcaaaaaataagttgataagttgattgatatgttattagcttaatt...  Gorilla_gorilla
...                                                     ...              ...
19799979  agaggtgaagcacttaaattgtgccaggcacataatatatattaaa...     Homo_sapiens
19799980  tctaaagttctggaatttcaggcatagagccaccacatccagccga...     Homo_sapiens
19799981  tttttgttaaagtgaagaaataactttctttttttgttttttttga...  Gorilla_gorilla
19799982  gagccatgtgttatgaagagcagggcctccattggctgtgtccctg...  Gorilla_gorilla
19799983  tttttatcacaaactttaatgccataaattaatatgtaacacatat...  Gorilla_gorilla

[19799984 rows x 2 columns]